.cat-image-7a{
	width:200px;
	border-radius:15px;
	margin-bottom:50px;
	object-fit:cover;
	object-position:center;
}
.cat-image-7b{
	width:200px;
	height:200px;
	margin-bottom:50px;
	object-fit:cover;
	object-position:center;
}
.cat-image-7c{
	width:200px;
	height:200px;
	border-radius:15px;
	margin-bottom:50px;
	border-radius:100%;
	object-fit:cover;
}
.search-bar-7d{
	width:200px;
	height:30px;
	border-radius:10px;
	border:1px solid #ccc;
}
.search-bar-7e{
	width:300px;
	height:30px;
	border-radius:30px;
	border:none;
	padding:5px 10px;
	border:1px solid #ccc;
	box-shadow:0px 0px 5px rgba(0,0,0,0.1);
}