p{
	font-family:Arial;
	margin-top:0px;
	margin-bottom:5px;
}
.Tahoma-5a{
	font-family:Tahoma;
	font-weight:bold;
	font-size:25px;
}
.Biggest-Deals-of-the-Year-5b{
	font-weight:bold;
	font-size:25px;
	margin-bottom:5px;
}
.Sales-end-Tuesday-5b{
	font-size:20px;
	font-style:italic;
	color:rgb(227,65,64);
}
.title-5c{
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;

}
.subtitle-5c{
	font-family:Verdana;
	font-size:15px;
	color:rgb(134, 123, 123)
}
.description-5c{
	font-family:Verdana;
	font-size:15px;
}
.button-5c{
	background-color:rgb(48, 175, 84);
	color:white;
	border:none;
	border-radius:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:7px;
	padding-bottom:7px;
	cursor:pointer;
	transition:background-color 0.15s;
	transition:box-shadow 0.1s;
	margin-top:5px;
}
.button-5c:hover{
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
	opacity:0.94;
}
.button-5c:active{
	opacity:0.83;
}
.title-5d{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	margin-bottom:10px;
}
.description-5d{
	font-size:18px;
	text-align:center;
}
.link-5d{
	font-size:20px;
	color:rgb(63, 129, 221);
	text-align:center;
}
.span-link-5d:hover{
	text-decoration:underline;
}
.note-5e{
	color:rgb(212, 139, 3);
	font-size:15px;
	font-weight:bold;
	text-align:center;
}
.title-5e{
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.description-5e{
	font-size:30px;
	font-weight:bold;
	text-align:center;
}
.price-5e{
	font-size:15px;
	text-align:center;
}
.button-5e{
	border:none;
	border-radius:15px;
	font-size:15px;
	display:block; /*預設物體會獨佔一整行*/
	margin: 0 auto; /*讓物體自己調整，0和0 auto不一樣*/
	background-color:rgb(10, 86, 162);
	color:white;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	cursor:pointer;
}
.button-5e:hover{
	opacity:0.93;
}
.button-5e:active{
	opacity:0.83;
}
.user-intro-5g{
	font-size:18px;
	font-weight:bold;
}
.user-id-5g{
	font-weight:100;
	color:grey;
}
.tag-5g{
	color:aqua;
}
.tag-5g:hover{
	text-decoration:underline;
	cursor:pointer;
}
.description-1-5f{
	font-size:25px;
}
.description-2-5f{
	color:green;
	font-size:15px;
}
.description-3-5f{
	color:grey;
	font-size:15px;
}
.span-1-5f{
	font-size:12px;
	color:grey;
}
.span-2-5f{
	color:rgb(205, 4, 4);
}