p{
	font-family:Arial;
	margin-top:0px;
	margin-bottom:0px;
}
.video-title{
	font-family:Arial; /*字體設定*/
	font-size:18px; /*字體大小設定**/
	font-weight:bold; /*字體粗細設定,bold為粗體*/
	width:280px;
	line-height:26px; /*行高設定*/
	font-style:italic; /*字體樣式設定,italic為斜體*/
	margin-bottom:5px;
}
.video-state{
	font-size:14px;
	color:rgb(96,96,96);
	margin-bottom:20px;
}
.video-author{
	font-family:Arial;
	font-size:14px;
	color:rgb(96,96,96);
	margin-bottom:20px; /*優先執行這段(CSS Specificity)*/
}
.video-description{
	font-family:Arial;
	font-size:14px;
	color:rgb(96,96,96);
	width:280px;
	line-height:22px;
	margin-bottom:100px;
}
.apple-text{
	margin-bottom:50px;
	font-size:14px;
	background-color:rgb(227,65,64);
	color:white;
	text-align:center;
	padding-top:18px;
	padding-bottom:18px;
}
.span-example{
	color:red;
	margin-left:12px;
}
.span-example:hover{
	text-decoration: underline;
}
.Shop-link:hover{
	text-decoration: underline;
}